.product-card {
  margin: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 180px;
  height: 250px;
  border-radius: 8px;
  background-color: var(--white);
  box-shadow: 7px 8px 13px -4px rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: 7px 8px 13px -4px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 7px 8px 13px -4px rgba(0, 0, 0, 0.07);
}
/* Image */
.img-container {
  border-radius: 8px;
  border: 1px solid #efefef;
  background-color: var(--white);
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5% 0 2.5% 0;
  overflow: hidden;
}
.heart-icon {
  position: absolute;
  width: 25px;
  height: 25px;
  transform: translate(58px, -53px);
  background-color: #e7e7e7;
  border-radius: 50%;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  cursor: pointer;
}
.heart-icon-blue {
  position: absolute;
  width: 25px;
  height: 25px;
  transform: translate(58px, -53px);
  background-color: #e7e7e7;
  border-radius: 50%;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--background-logo);
  cursor: pointer;
}
.product-img {
  width: 80%;
  height: 80%;
  object-fit: contain;
}
/* details */
.detail-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  height: 40%;
  padding: 2.5% 0 5% 0;
}
.product-title {
  color: var(--font-two);
  font-size: 12px;
  font-family: Inter;
  font-weight: 700;
}
.product-category {
  color: var(--font-three);
  font-size: 10px;
  font-family: Inter;
}
.product-price {
  color: var(--font-two);
  font-size: 12px;
  font-family: Inter;
  font-weight: 600;
}
