.product-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100vh
}

.product-details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: min(70%, 900px);
  height: min(100%, 800px);
  background-color: var(--white);
  padding: 7% 7%;
}

/* left side */
.product-details-picture {
  width: min(60%, 540px);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-details-picture :nth-child(1) {
  width: auto;
  height: 80%;
  aspect-ratio: 2/3;
}

/* right side */
.product-details-information {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: min(40%, 360px);
  height: 100%;
  overflow: hidden;
}
.product-details-information :nth-child(1) {
  color: var(--font-two);
  font-size: 24px;
  font-weight: 700;
}
.product-details-information :nth-child(2) {
  color: var(--font-two);
  font-size: 24px;
  font-weight: 600;
}
.product-details-information :nth-child(3) {
  color: var(--font-two);
  font-size: 20px;
  font-weight: 600;
}
.product-details-information :nth-child(4) {
  color: var(--font-two);
  font-size: 16px;
}
.product-details-information :nth-child(5) {
  color: var(--font-two);
  background-color: var(--button);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  padding: 5% 10%;
  border: none;
}

@media (max-width: 1200px) {
  .product-details-container {
    height: 80vh;
    padding: 5% 5%;
    width: min(90%, 900px);
    height: min(100%, 800px);
  }
}
@media (max-width: 850px) {
  .product-details-container {
    flex-direction: column;
    height: 80vh;
    padding: 5% 5%;
  }
  
  .product-details-picture {
    width: 100%;
    height: 60%;
  }
  
  .product-details-picture :nth-child(1) {
    width: auto;
    height: min(auto, 70%);
    aspect-ratio: unset;
  }
  
  .product-details-information {
    width: 100%;
    height: 40%;
    margin-top: 5%;
  }
}
